{% extends "base.html" %}

{% block content %}
<div class="w-full max-w-13xl mx-auto p-6 bg-white rounded-lg ">
    <!-- Page Header -->
    <div class="flex flex-col md:flex-row justify-between items-start md:items-left mb-6 space-y-2 md:space-y-0">
        <h1 class="text-2xl font-semibold">User Productivity Report</h1>
        <a href="{% url 'export_to_excel' %}?{{ request.GET.urlencode }}" class="bg-green-500 hover:bg-orange-600 text-white font-medium px-4 py-2 rounded shadow"><i class="bi bi-box-arrow-up text-xl"></i> Export To Excel</a>
    </div>

    <!-- Data Table -->
    <div class="overflow-x-auto shadow border border-gray-300 rounded-lg">
        <table class="min-w-full divide-y divide-gray-200">
            <thead class="bg-gray-100 sticky top-0">
    <tr>
        {% for field, label, next_order in columns %}
            <th class="px-4 py-4 text-left text-gray-500 font-semibold">
                <a href="?sort={{ field }}&order={{ next_order }}"
                   class="flex items-center
                    {%if field == current_sort%}
                        text-black
                    {%endif%}
                   
                   ">
                    <span class="mr-2">{{ label }}</span>
                   
                      <div class="flex flex-col text-sm  h-8 ">
                            <span class="h-3"><i class="bi bi-caret-up-fill 
                                {%if current_sort == field and current_order == 'asc' %}
                                    text-green-500
                                {%endif%}
                                "></i></span>
              
                            <span><i class="bi bi-caret-down-fill  {%if current_sort == field and current_order == 'desc' %}
                                    text-green-500
                                {%endif%}"></i></span>
                </div>
                 
                     
                </a>
            </th>
        {% endfor %}
    </tr>
</thead>


            <tbody class="bg-white divide-y divide-gray-100">
                {% for user in users %}
                <tr class=" even:bg-gray-50">
                    <td class="px-4 py-2 uppercase font-medium">{{ user.username }}</td>
                    <td class="px-4 py-2 capitalize">{{ user.last_name }}, {{ user.first_name }}</td>
                    <td class="px-4 py-2 text-md">
                        {% if user.is_part_time %}
                            Part-time
                        {% else %}
                            Full-time
                        {% endif %}
                    </td>
                    <td class="px-4 py-2">{{ user.total_jobs_assigned }}</td>
                    <td class="px-4 py-2">{{ user.total_jobs_completed }}</td>
                    <td class="px-4 py-2">{{ user.total_hours|default:""|floatformat:2 }}</td>
                    <td class="px-4 py-2">{{ user.average_jobs_per_hour|default:""|floatformat:2 }}</td>
                    <td class="px-4 py-2 font-semibold">{{ user.productivity_ratio|floatformat:2 }}{% if user.productivity_ratio %}%{% endif %}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
