{% extends "base.html" %}

{% block content %}
<div class="px-10">
	
	<!-- allocation -->
	<div>
		<div class="flex flex-col items-end">
			<button class="bg-blue-800 p-3 shadow-lg rounded-lg text-white text-xl">Get Allocation</button>
		</div>
<!-- 
		<table class=" w-full text-left">
			<thead class="bg-blue-400/10">
				<th class="p-3">ID</th>
				<th class="p-3">ID</th>
				<th class="p-3">ID</th>
				<th class="p-3">ID</th>
			</thead>
			<tbody>
				<tr>
					<td>12</td>
					<td>12</td>
					<td>12</td>
					<td>12</td>
				</tr>
				<tr>
					<td>12</td>
					<td>12</td>
					<td>12</td>
					<td>12</td>
				</tr>
				<tr>
					<td>12</td>
					<td>12</td>
					<td>12</td>
					<td>12</td>
				</tr>
				<tr>
					<td>12</td>
					<td>12</td>
					<td>12</td>
					<td>12</td>
				</tr>
			</tbody>
		</table> -->

	</div>
</div>

{% endblock %}