{% extends "base.html" %}

{% block content %}
<div class="px-10">
	
	<!-- allocation -->
	<div>
		<div x-data="{count: 0}" class="flex flex-col items-end">
			<span x-text="count"></span>
			<button @click="count++" class="bg-blue-400 p-3 shadow-lg cursor-pointer rounded-md text-white text-lg">Get Allocation <i class="bi bi-box-arrow-down"></i></button>
		</div>
<!-- 
		<table class=" w-full text-left">
			<thead class="bg-blue-400/10">
				<th class="p-3">ID</th>
				<th class="p-3">ID</th>
				<th class="p-3">ID</th>
				<th class="p-3">ID</th>
			</thead>
			<tbody>
				<tr>
					<td>12</td>
					<td>12</td>
					<td>12</td>
					<td>12</td>
				</tr>
				<tr>
					<td>12</td>
					<td>12</td>
					<td>12</td>
					<td>12</td>
				</tr>
				<tr>
					<td>12</td>
					<td>12</td>
					<td>12</td>
					<td>12</td>
				</tr>
				<tr>
					<td>12</td>
					<td>12</td>
					<td>12</td>
					<td>12</td>
				</tr>
			</tbody>
		</table> -->

	</div>
</div>

{% endblock %}