<nav class="h-[60px] flex justify-between items-center bg-gradient-to-r border-b  border-gray-800 from-black to-[#012d50]  sticky top-0 z-40 px-8 ">
    <div class="flex items-center gap-2">
    <span><i class="bi bi-ui-radios-grid text-transparent bg-clip-text bg-gradient-to-b hover:bg-gradient-to-t transition duration-200 from-[#fb9435] to-[#e06f29] text-xl"></i></span><p class="text-xl font-bold tracking-wide text-white/90">LDU Job Matrix</p>
    </div>
    <ul class="h-full flex items-center">
        
    </ul>
    <div class="h-full flex items-center">
    	<button class=" p-2 rounded-lg font-semibold text-gray-400 capitalize">{{request.user.get_fullname}}</button>
    </div>
</nav>