<nav class="h-[60px] flex justify-between sticky top-0 z-40 px-4 bg-gray-700 shadow-sm">
    <ul class="h-full flex items-center">
        
    </ul>
    <div class="h-full">
    	{% if user.is_authenticated %}
		<div class="flex items-center space-x-4 h-full">
			<!-- User badge -->
			<span class="px-3 py-1 bg-gray-600 text-gray-100 rounded-full text-sm font-medium flex items-center">
			{{ user.first_name }}
			</span>

			<!-- Logout button -->
			<form method="post" action="{% url 'logout' %}" class="h-full flex items-center">
			{% csrf_token %}
			<button type="submit"
				class="px-4 py-2 bg-red-400 cursor-pointer text-white text-sm rounded-lg hover:bg-red-500 transition">
				Logout
			</button>
			</form>
		</div>
		{% else %}
		<a class="text-gray-300 hover:text-white transition" href="{% url 'login' %}">
			Login
		</a>
		{% endif %}
    </div>
</nav>