{% extends "base.html"%}

{% block content %}
    <div x-data>
        <div class="p-6">
            <h4 class="text-lg font-semibold text-gray-500 mb-3">For Process</h4>
            <table class="min-w-full border-[1px] border-gray-400 shadow-md divide-y divide-gray-200 rounded-lg">
                <thead class="bg-gray-700 text-white">
                    <th class="px-6 py-3 text-left text-xs font-semibold uppercase">Cluster ID</th>
                    <th class="px-6 py-3 text-left text-xs font-semibold uppercase">Cluster Name</th>
                    <th class="px-6 py-3 text-left text-xs font-semibold uppercase">Date Created</th>
                    <th class="px-6 py-3 text-left text-xs font-semibold uppercase">No. of Jobs</th>
                    <th class="px-6 py-3 text-left text-xs font-semibold uppercase">Sampling Size</th>
                </thead>
                <tbody class="bg-white divide-y divide-gray-200">
                    {% for cluster in clusters %}
                        <tr  @click="window.location.href='{% url 'qa-detail' cluster.id %}'" class="hover:cursor-pointer hover:bg-gray-100">
                            <td class="px-6 py-4 text-gray-600">CLU-{{cluster.id|stringformat:"03d"}}</td>
                            <td class="px-6 py-4 text-gray-600">{{cluster.name}}</td>
                            <td class="px-6 py-4 text-gray-600">{{cluster.created_at}}</td>
                            <td class="px-6 py-4 text-gray-600">{{cluster.qa_jobs.count}}</td>
                            <td class="px-6 py-4 text-gray-600">{{cluster.selected_qa_jobs_count}}</td>
                        </tr>
                         {% empty %}
                    <tr>
                        <td colspan="5" class="px-6 py-4 whitespace-nowrap text-center text-gray-500">No cluster for process available.</td>
                    </tr>
                    {%endfor%}
                  
                </tbody>
            </table>
        </div>
        <div class="p-6">
            <h4 class="text-lg font-semibold text-gray-500 mb-3">Completed</h4>
            <table class="min-w-full divide-y border-[1px] border-gray-400 shadow-md divide-gray-200 rounded-lg">
                <thead class="bg-gray-700 text-white">
                    <th class="px-6 py-3 text-left text-xs font-semibold uppercase">Cluster ID</th>
                    <th class="px-6 py-3 text-left text-xs font-semibold uppercase">Cluster Name</th>
                    <th class="px-6 py-3 text-left text-xs font-semibold uppercase">Date Created</th>
                    <th class="px-6 py-3 text-left text-xs font-semibold uppercase">No. of Jobs</th>
                    <th class="px-6 py-3 text-left text-xs font-semibold uppercase">Sampling Size</th>
                </thead>
                <tbody class="bg-white divide-y divide-gray-200">
                    {% for cluster in completed_clusters %}
                        <tr  @click="window.location.href='{% url 'qa-detail' cluster.id %}'" class="hover:cursor-pointer hover:bg-gray-100">
                            <td class="px-6 py-4 text-gray-600">CLU-{{cluster.id|stringformat:"03d"}}</td>
                            <td class="px-6 py-4 text-gray-600">{{cluster.name}}</td>
                            <td class="px-6 py-4 text-gray-600">{{cluster.created_at}}</td>
                            <td class="px-6 py-4 text-gray-600">{{cluster.qa_jobs.count}}</td>
                            <td class="px-6 py-4 text-gray-600">{{cluster.selected_qa_jobs_count}}</td>
                        </tr>   
                          {% empty %}
                    <tr>
                        <td colspan="5" class="px-6 py-4 whitespace-nowrap text-center text-gray-500">No completed cluster.</td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}